 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100;1,300&display=swap');
*
{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
}
.all-wrap
{
    background-color: rgb(39, 37, 37);
    border-radius: 20px;
    width:800px;
    padding:30px 0px 0px 30px;  
}
.wrapper
{
   color: #fff;
   margin-bottom: 20px ;
   cursor: pointer;
}
.header
{  
    margin-left:20px;
    margin-top:10px;
    font-size: 1.2rem;
}
.header-name
{
    margin-right: 50px;
    font-weight: 500;
}
.volume
{   
    margin-right: 50px;
    accent-color: #fff;
    position: relative;
    cursor: pointer;
    outline: none;
}
.volume-written
{
    position: relative;
}
.showkeys{
    position: relative;
    right:-35px;
}
.show-keys 
{
    appearance: none;
    background:#fff ;
    right:-40px;
    height: 25px;
    width:53px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    top:5px;
}
.show-keys::before{
    content: "";
    height:20px;
    width:20px;
    background: rgb(109, 100, 100);
    position: absolute;
    left:1px;
    border-radius: 100%;
    top:3px;
    transition: all 0.34s ease;
}

.show-keys:checked::before{
    left:30px;
}
.piano-keys
{
    display: flex;
    margin-top: 35px;
    margin-left: 20px; 
    margin-right: 50px;
}
.keys-white
{
    height:230px;
    width:100px;
    background: white;
    color: black;
    border-radius: 10px;
    border:1px solid black;
}

.keys-black
{
    height:150px;
    width:70px;
    background: linear-gradient(to bottom, #222,#111 );
    color: #eee;
    margin:0 -22px 0 -22px;
    z-index:2;
    border-radius: 0 0 5px 5px;
}
.alpha
{
    color:black;
    position:relative;
    top:200px;
    left:30px;
    opacity: 0.7;
}
.alphaB
{
    position:relative;
    top:110px;
    left:15px;
    opacity: 0.7;
}